
* {
    font-family:poppins;sans-serif;
    padding: 0;margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background:rgb(130, 106, 251);
}
.container {
    position: relative;
    max-width: 700Px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.container header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}
.container .form { 
    margin-top: 30px;    
}

.register-box {
text-decoration: none;
background-color: tomato;
padding: 10px 25px;
border-radius: 8px;
align-content: ;
}


.form .inputbox {
    width: 100%;
    margin-top: 20px;
}
.input-box label {
    color: #333;
     }  
     .form :where(.input-box input, .select-box) {
        position: relative;
        height: 50px;
        width: 100%;
        outline: none;
        font-size: small;
        color: #707070;
        border: 1px solid #ddd;
        margin: 8px;
        border-radius: 6px;
        padding: 0 15px;
    }
    .form .column {
        display: ; flex: 
        column-gap: 70px;
        .form :where(.gender-option, gender) {
            /* display: flex;
            align-items: center;
            column-gap: 50px; */}
            .form-gender-box {
                margin-top: 20px;

            }
            .gender-box h3{
                color: #333;
                font-size: small;
                font-weight: 400px;
                margin-bottom: 8px;
                 
            }
        .form .gender {
            column-gap: 5px;
            cursor: pointer;
        }
        .form :where( .gender input,.gender lable) {
            cursor: pointer;
        }
        .select-box {
            height: 100%
            width: 100%;
            /* outline: none; */
            
            color: #707070;
            font-size: small;
        }
        .form .button {
            height: 55px;
            width: 100px;
        }
     


@media screen and (max-width: 500px){
    .form .column {
        flex-wrap: wrap;
      }
    }
           
        
         

             
         
            
         
             
         

